<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>自行车</string>
	<string>书本</string>
	<string>电脑</string>
	<string>手机</string>
	<string>雨伞</string>
	<string>收音机</string>
	<string>其他</string>
</array>
</plist>
