<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>home</key>
	<string>TJDashboardViewController</string>
	<key>login</key>
	<string>TJLoginViewController</string>
	<key>post</key>
	<string>TJPostViewController</string>
	<key>selfCenter</key>
	<string>TJSelfCenterViewController</string>
	<key>myInfo</key>
	<string>TJMyInfoCenterViewController</string>
	<key>myPublish</key>
	<string>TJMyPublishViewController</string>
</dict>
</plist>
